.form {
  max-width: 385px;
}

.form__label {
  display: block;
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}

.form__fieldset {
  margin: 0;
  border: none;
  line-height: 32px;
  padding: 0;
}

.form__input::placeholder {
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-left: 12px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
  border-width: 1px;
  border-style: solid;
}

.form__button {
  border-radius: 4px;
  opacity: 100%;
  background: #2f80ed;
  color: white;
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  height: 60px;
  border: none;
  transition: opacity 2s linear 0.5s;
}

.form__button:hover {
  opacity: 70%;
  cursor: pointer;
}

.form__label[for="terms-of-use"] {
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  gap: 12px;
}

.form__checkbox[type="checkbox"] {
  height: 20px;
  width: 20px;
}
