.recipes {
  background-color: #0a2750;
  color: #ffffff;
  background-image: url(../images/background_recipes.svg);
  padding: 100px 80px 215px;
  display: flex;
  flex-direction: column;
  background-position: center;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px;
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-caption {
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
}

.recipes__iframe {
  border: none;
  height: 273px;
  width: 480px;
}
